<link rel='stylesheet' href='/stylesheets/style_search_table.css' />
<table id="table_isbn" class="disp_tbl">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Page Count</th>
        <th>Published Date</th>
        <th>Thumbnail</th>
        <th>ISBN</th>
    </tr>
    {{#each data}}
    <tr>
        <td>{{this._id}}</td>
        <td>{{this.title}}</td>
        {{#if this.pageCount}}
        <td>
        {{else}}
        <td style="background-color: red; color: white">
        {{/if}}
            {{to_zero this.pageCount}}</td>
        <td>{{this.publishedDate}}</td>
        <td><img width="100px" height="auto" src={{this.thumbnailUrl}} alt="thumbnail"></td>
        <td>{{this.isbn}}</td>
    </tr>
    {{/each}}
</table>